
SolutionCovid/.vs/SolutionCovid/v17/.suo
*.cache
*.dll
SolutionCovid/.vs/SolutionCovid/v17/.suo
SolutionCovid/.vs/SolutionCovid/v17/.suo
*.cache
SolutionCovid/WebCovid/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SolutionCovid/.vs/SolutionCovid/v17/.suo
*.cache
*.vsidx
*.vsidx
*.pdb
*.txt
SolutionCovid/ClassAccesoDatos/obj/Debug/_IsIncrementalBuild
*.txt
SolutionCovid/ClassAccesoDatos/obj/Debug/ClassAccesoDatos.csproj.FileListAbsolute.txt
SolutionCovid/ClassLogicaNegocios/obj/Debug/_IsIncrementalBuild
SolutionCovid/WebCovid/Web.config
*.txt
SolutionCovid/WebCovid/obj/Debug/_IsIncrementalBuild
SolutionCovid/WebCovid/obj/Debug/WebCovid.csproj.CopyComplete
*.rsp
*.config
*.targets
*.xml
*.txt
*.CopyComplete
*.txt
*.exe
