
SolutionCovid/.vs/SolutionCovid/v17/.suo
*.cache
*.dll
SolutionCovid/.vs/SolutionCovid/v17/.suo
SolutionCovid/.vs/SolutionCovid/v17/.suo
*.cache
*.txt
*.pdb
*.CopyComplete
*.exe
*.xml
*.config
*.targets
*.rsp
*.cache
SolutionCovid/ClassAccesoDatos/obj/Debug/_IsIncrementalBuild
SolutionCovid/ClassAccesoDatos/obj/Debug/ClassAccesoDatos.csproj.FileListAbsolute.txt
SolutionCovid/WebCovid/Web.config
SolutionCovid/WebCovid/obj/Debug/_IsIncrementalBuild
SolutionCovid/WebCovid/obj/Debug/WebCovid.csproj.CopyComplete
SolutionCovid/WebCovid/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

