
SolutionCovid/.vs/SolutionCovid/v17/.suo
*.cache
*.dll
SolutionCovid/.vs/SolutionCovid/v17/.suo
SolutionCovid/.vs/SolutionCovid/v17/.suo
*.cache
SolutionCovid/WebCovid/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.txt
*.pdb
*.txt
*.txt
*.CopyComplete
*.exe
*.xml
*.config
*.targets
*.rsp
*.cache
*.txt
